#banner{
    width: 100%;
}
.caja{
    width: 940px;
    position: relative;
    margin:0 auto;
}
nav{
    position:absolute;
    top:10px;
    right:0;
}
.navegador{
    display:contents;
}
nav li{
    display: inline;    /*1*/
    margin: 0 0 0 15px;    
}

nav a{
    text-transform: uppercase; /*2*/
    color: black;
    font-weight:bold;
    font-size: 22px;
    text-decoration:none;
    
}
nav a:hover{
    color: darkorange;
    text-decoration: underline;
}

.principal{
    background:#cccccc;
    padding: 20px;
}

.titulo-principal {
    padding-left: 30px;

}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;    
}

em strong {
    color: red;
}

.diferenciales{
    background: white;
    padding: 30px;
}

.items {
    font-style: italic;
}
#mision{
    font-size: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right:20%;
}
.imagenDiferenciales{
    width:50%
}